
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="dark">
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
      <a href="{{ '/assets/asif_Devops_resume.pdf' | relative_url }}" target="_blank">Resume</a>
    </nav>
  </header>
  <main>{{ content }}</main>
  <footer>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</footer>
</body>
</html>
